{% extends 'theme/base.html' %}

{% block pagecontent %}

<div class="content">
	<span id="spanusername">{{ kv_message.uname }}</span>
	<span id="spandate">{{ kv_message.created_datetime }}</span>
	<p id="usermessage">{{ kv_message.umessage }}</p>
	{% if user.is_anonymous %}
	<span class="glyphicon glyphicon-thumbs-up">{{ kv_message.thumbs_up }}</span>
	{% else %}
	<a id="thumbup" href="#">VOTE</a> <span class="glyphicon glyphicon-thumbs-up">{{ kv_message.thumbs_up }}</span>		
	{% endif %}
</div>




{% endblock %}
