{% extends 'theme/base.html' %}

{% block pagecontent %}

<div id="allcomments">
{% if user.is_anonymous %} 
	
	{% for message in kv_messages %}
	
	<div id="wrapcomment">
		<span id="spanusername">{{ message.uname }}</span>
		<span id="spandate">{{ message.created_datetime }}</span>
		<p id="usermessage">{{ message.umessage }}</p>
		<a href="{% url 'message_details' message.id %}">...MORE...</a>
	</div>

	{% endfor %}

	{% if kv_messages.has_previous %}

	<a href="?page={{ kv_messages.previous_page_number }}">Previous</a>

	{% endif %}

	{% if kv_messages.has_next %}

	<a href="?page={{ kv_messages.next_page_number }}">Next</a>

	{% endif %}

{% else %}

	<form method="POST">{% csrf_token %}
		<div class="form-group">
			<label for="textareacomment">Post a kveet</label><br>
			
			<textarea name="comment" id="textareacomment" maxlength="140" required></textarea>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	<br>
	{% for message in kv_messages %} 

	<div id="wrapcomment">
		<span id="spanusername">{{ message.uname }}</span>
		<span id="spandate">{{ message.created_datetime }}</span>
		<p id="usermessage">{{ message.umessage }}</p>
		<a href="{% url 'message_details' message.id %}">...MORE...</a>	
	</div>

	{% endfor %}

	{% if kv_messages.has_previous %}

	<a href="?page={{ kv_messages.previous_page_number }}">Previous</a>

	{% endif %}

	{% if kv_messages.has_next %}

	<a href="?page={{ kv_messages.next_page_number }}">Next</a>

	{% endif %}

{% endif %}
</div>
{% endblock %}
