{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:site_name" content="Kvittr">
		<meta property="og:type" content="website">
		<meta property="og:title" content="message">
		<meta property="og:description" content="Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam">
    	<meta property="og:url" content="http://kvittr.no/kv_messages/1">
    	<meta property="og:image" content="http://kvittr.no/static/theme/images/kvittr.png">
		<title>Kvittr</title>

		<!-- Bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="{% static 'theme/css/style.css' %}">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<script src="{% static 'theme/js/js.js' %}"></script>
	</head>

<body>
{% block body %}
{% endblock %}
</body>

</html>
