{% extends 'theme/base_site.html' %}
{% load staticfiles %}
{% block body %}

				
<div class="container">
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
			{% if user.is_anonymous %}
				<li role="presentation"><a href="{% url 'frontpage' %}">Home</a></li>
				<li role="presentation"><a href="{% url 'message_listing' %}">The Wall</a></li>
				<li role="presentation"><a href="{% url 'userlogin' %}">Log in</a></li>
				<li role="presentation"><a href="{% url 'userregister' %}">Register</a></li>
			{% else %}
				<li role="presentation"><a href="{% url 'frontpage' %}">{{ user.username }}</a></li>
				<li role="presentation"><a href="{% url 'message_listing' %}">The Wall</a></li>
				<li role="presentation"><a href="{% url 'updateprofile' %}">Settings</a></li>
				<li role="presentation"><a href="{% url 'userlogout' %}">Log out</a></li>
			{% endif %}
			</ul>
		</nav>
			<a class="navbar-brand" href="{% url 'frontpage' %}"><img src="{% static 'theme/images/kvittr.png' %}"></img></a>
	</div>

	{% block content %}
	{% endblock %}
	{% block pagecontent %}
	{% endblock %}
	{% block regcontent %}
	{% endblock %}

	<br>
	<footer class="footer">
		<p>&copy; KviTTr 2015</p>
	</footer>
</div>
  {% block valijavascript %}  
  {% endblock %}

{% endblock %}
