{% extends 'theme/base.html' %}
{% load staticfiles %}
{% block pagecontent%}

{% if user.is_anonymous %}
	<div class="jumbotron">
		<h2>Hello, and welcome to</h2>
		<br>
		<img src="{% static 'theme/images/kvittr.png' %}"></img>
		<br>
		<br>
		<p><a class="btn btn-primary btn-lg" href="{% url 'userregister' %}" role="button">Sign up today</a></p>
	</div>
{% else %}
	<div class="jumbotron">
		<h1>Welcome {{ user.username }} </h1>
		<br>
		<h5>Name: {{ user.first_name }} {{ user.last_name }}</h5>
		<h5>Email: {{ user.email }}</h5>
		<!--<img src="media/theme/user_images/{{allimages.user_picture}}">-->
	</div>
{% endif %}
{% endblock %}
